@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');body {
    padding: 0px;
    margin: 0px;    
}

header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#title {
    margin-top: 20px;
    font-family: 'VT323';
    font-size: 35px;
}

#color-palette {
width: 300px;
margin: auto;
}

.color {
    margin: 3px;
    display: inline-block;
    border: solid 1px black;
    height: 40px;
    width: 40px;    
}

.selected {
    transform: translateY(-5px);
}

/* #color1 {
    background-color: black;
}
#color2 {
    background-color: rgb(158, 1, 1);
}
#color3 {
    background-color: rgb(236, 204, 18);
}
#color4 {
    background-color: rgb(13, 177, 48);
} */


p {
    text-align: center;
    font-family: 'VT323';
    font-size: 30px;
}

.buton {
    display: block;
    margin: auto;
    text-align: center;
}

#clear-board {
    margin: auto;
    padding: 5px;
    font-family: 'VT323';
    font-size: 22px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    background-color: black;
}

#pixel-board {
    background-color: rgb(255, 255, 255);
    /* border: solid 1px black; */
    width: 210px;
    height: 210px;
    margin: auto;
    display: flex;    
}

.pixel {
    border: solid 1px black;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;  
    display: flex;
    margin: 0px;
}

/* .column {
    
    
} */

#footer {
    margin: auto;
}

img {
    margin: auto;
    position: fixed;
    max-width: 1330px; 
}




