@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');body {
    padding: 0px;
    margin: 0px;
    
}

header {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#title {
    margin-top: 45px;
    font-family: 'VT323';
    font-size: 41px;
}
.color {
    margin: 5px;
    display: inline-block;
    border: solid 1px black;
    height: 40px;
    width: 40px;
}

#color-palette {
width: 300px;
margin: auto;
}

#color1 {
    background-color: black;
}
#color2 {
    background-color: rgb(158, 1, 1);
}
#color3 {
    background-color: rgb(236, 204, 18);
}
#color4 {
    background-color: rgb(13, 177, 48);
}
#color5 {
    background-color: rgb(23, 90, 177);
}

p {
    text-align: center;
    font-family: 'VT323';
    font-size: 35px;
}

#pixel-board {
    background-color: white;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    margin: auto;

}

#clear-board {
    margin: auto;
    padding: 20px;
    font-family: 'VT323';
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
    margin-top: 80px;

}
.buton {
    margin-top: 50px;
    display: block;
    margin: auto;
    width: 1366px;
    text-align: center;
}
#footer {
    background-color: red;
    margin: auto;
    width: 1366px;
}
img {
    margin: auto;
    width: 1366px; 
}